<div class="container-fluid mainpage">
   <div class="mainpage-row row">
        <div class="col-md-3 mainpagecol-left col">
         lalalalalalalalala  
        </div>
        
        <div class="col-md-6 mainpagecol-mid col">
            lalalala
        </div>
        
        <div class="col-md-3 mainpagecol-right col" >
            lalalalala
        </div>
         
    </div>
  
</div>

<div class="placeholder"></div>
<div class="placeholder"></div>
<div class="placeholder"></div>
<div class="placeholder"></div>
<div class="placeholder"></div>
<div class="placeholder"></div>
<div class="placeholder"></div>

<div id="trigger1" class="spacer s0">
</div>

<div id="animate1" class="box2 skin">
    <p> I am LALA </p>
</div>
<div  class="spacer s2">
</div>
<div class="placeholder"></div>
<div class="placeholder"></div>
<div class="placeholder"></div>
<div class="placeholder"></div>
<div class="placeholder"></div>