
<!-- <div id="trigger1" class="spacer s0"> 
</div> -->
<div class="container-fluid topcontainer">
    <div id="animate1" class=" mainpage speed1 col">
        <div class="mainpage-row row">
            
            <div class="col-md-3 mainpagecol-left col">
            lalalalalalalalala  
            </div>
            
            <div class="col-md-6 mainpagecol-mid col">
                lalalala
            </div>
            
            <div class="col-md-3 mainpagecol-right col" >
                lalalalala
            </div>
            
        </div>
    
    </div>
    <div id="animate2" class="lyrics">
        <p> LALALALALALALALALALA</p>
        <p> LALALALALALALALALALA</p>
        <p> LALALALALALALALALALA</p>
        <p> LALALALALALALALALALA</p>
        <p> LALALALALALALALALALA</p>
        LALALALALALALALALALALA
        LALLALALALALALALALALALALA
    </div>
</div>

<!-- <div class="placeholder"></div> 





<div  class="spacer s2">
</div>
-->