
<!-- <div id="trigger1" class="spacer s0"> 
</div> -->
<div class="container-fluid topcontainer">
    <div id="animate1" class=" mainpage speed1 col">
        <div class="mainpage-row row">
            
            <div class="col-md-3 mainpagecol-left col">
            lalalalalalalalala  
            </div>
            
            <div class="col-md-6 mainpagecol-mid col">
                lalalala
            </div>
            
            <div class="col-md-3 mainpagecol-right col" >
                lalalalala
            </div>
            
        </div>
    
    </div>
    <div id="animate2" class="lyrics">
        <div id="trigger1" class="lyricscontainer lyr1 lyr">
            <!-- start slipsum code -->

            <p><br>אאאא אאאא אאאא אאאא
<br>אאאא אאאא אאאא אאאא
<br>אאאא אאאא אאאא אאאא
<br>אאאא אאאא אאאא אאאא
<br>
 </p>
        </div>
        <div id="trigger2" class="lyricscontainer lyr2 lyr">
            <!-- start slipsum code -->

            <p><br>בבבב בבבב בבבב בבבב
<br>בבבב בבבב בבבב בבבב
<br>בבבב בבבב בבבב בבבב
<br>בבבב בבבב בבבב בבבב
<br>
</p>
        </div>
        <div id="trigger3" class="lyricscontainer lyr3 lyr">
            <!-- start slipsum code -->

            <p><br>גגגג גגגג גגגג גגגג
<br>גגגג גגגג גגגג גגגג
<br>גגגג גגגג גגגג גגגג
<br>גגגג גגגג גגגג גגגג
<br>
  </p>
        </div>

    </div>    
    <div id="animate3" class="single">
        <div class="singlecontainer sing">
              first scene
        </div>  
    </div>     

            <!-- end slipsum code -->
        
    </div>
</div>

<!-- <div class="placeholder"></div> 





<div  class="spacer s2">
</div>
-->
 <!-- please do not remove this line -->

            <div style="display:none;">
            <a href="http://slipsum.com">lorem ipsum</a></div>