
<!-- <div id="trigger1" class="spacer s0"> 
</div> -->
<!--top navigation bar-->
<nav class="navbar navbar-default navbar-fixed-top mynavbar"><!--top navigation bar-->
  <div class="container-fluid mynavbar toppeer">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <div class="animated fadeInLeft">
            <i class="fa fa-copyright"></i> All right reserved to Yonatan Hattav
        </div>
      </a>
    </div>
  </div>
</nav>
<nav class="navbar navbar-default navbar-fixed-bottom mynavbar"><!--bot navigation bar-->
  <div class="container-fluid mynavbar ">
    <div class="navbar-header ">
      <a class="navbar-brand " href="#">
        <div class="animated fadeInUp ">
            FontAwsome . Bootstrap . ScrollMagic . GSAP 
        </div>
      </a>
    </div>
  </div>
</nav>
<div class="spacer s0" id="triggerstar"></div>
<div class="container-fluid topcontainer">
    <div id="animate1" class=" mainpage speed1 col"> <!-- the mainpage backgroung photo-->
        <!--       <div class="mainpage-row row">
                    
                    <div class="col-md-3 mainpagecol-left col">
                    lalalalalalalalala  
                    </div>
                    
                    <div class="col-md-6 mainpagecol-mid col">
                        lalalala
                    </div>
                    
                    <div class="col-md-3 mainpagecol-right col" >
                        lalalalala
                    </div>
                    
                </div>
        -->   
    
    </div>
    <div id="animate2" class="lyrics">
        <div id="trigger1" class="lyricscontainer lyr1 lyr">
            <!-- start slipsum code -->

            <p>
            <br>עבדך כותב את מילותיך
            <br>חורז צמות ללא יאוש
            <br>קורא לך ממילין אלפיים
            <br>הישעני! איני תשוש
         

            </p>
        </div>
        <div id="trigger2" class="lyricscontainer lyr2 lyr">
            <!-- start slipsum code -->

            <p>
            <br>ניצוץ נגלה בעלטה
            <br>במבטך ראי עולם זורח
            <br>מחול אורות בליל צפון
            <br>שכוכב ברקאי משלח
          

            </p>
        </div>
        <div id="trigger3" class="lyricscontainer lyr3 lyr">
                
            <!-- start slipsum code -->

            <p>
            <br>בזיו פניה בא הסתיו
            <br>צו כליות מקשה לנוע
            <br>איך אמשיך ללא ידיו?
            <br>שוב מקשה הגעגוע
       

            </p>
        </div>
        <div id="trigger4" class="lyricscontainer lyr4 lyr">
            <!-- start slipsum code -->

            <p>
            <br>ראי עוד יום עבר, שבוע
            <br>חודש במהרה יחלוף
            <br>מהי עוד מרצפת זמן
            <br>בעין סיפור שאין לו סוף
            

            </p>
        </div>
        <div id="trigger5" class="lyricscontainer lyr5 lyr">
            <!-- start slipsum code -->

            <p>
            <br>יבא היום וגם אלינו
            <br>פריחת כלניות תשוב
            <br>הביטי לעיתים לאופק
            <br>צודי מבטי אהוב
     

            </p>
        </div>
    
    </div>    
    <div id="animate3" class="single">
        <div class="singlecontainer sing">
              first scene
        </div>  
    </div>
    <div class="spacer s0" id="triggerstar"></div>
    <div class="spacer s2"></div>
    <div id="target">
        <i class="fa fa-star noshow"></i>
    </div>    
    
    
</div>
    <div id="target" class="starget">
        <i class="fa fa-star noshow"></i>
    </div>

<!-- <div class="placeholder"></div> 





<div  class="spacer s2">navbar-fixed-bottom
</div>
-->
 <!-- please do not remove this line -->

            <div style="display:none;">
            <a href="http://slipsum.com">lorem ipsum</a></div>