.box2 {
    background-color: red;
    color: white;
    height: 200px;
    width: 200px;
    
}
.placeholder {
    height: 100px;
}

.mainpage {
    background-image: url('../images/Aurora-Ocean2.jpg');
    background-repeat: space;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
   

    
}
body {
    height: 100%;

}
html {
    height: 100%;
}

.topcontainer {
    height: 100%;
    padding-right: 0px;
    padding-left: 0px;
    position: relative;
}   
.lyrics{
    perspective: 5000px;
    top: 30%;  
    left: 10%;
    
}    


.lyricscontainer {
  
  position: absolute;
  font-style: italic;
  border-color: red;
  border-width: 10px;
  font-size: 20pt;
  transform: rotateY(20deg);
  transform-origin: left;
  max-height: 94.5%;
  width: 20%;
}

.lyr1 {
   
    position: relative;
}
.lyr2 {
   
    position: relative;
}
.lyr3 {
    
    position: relative;
}