.box2 {
    background-color: red;
    color: white;
    height: 200px;
    width: 200px;
    
}
.placeholder, .s2 {
    height: 700px;
}

.mainpage {
    background-image: url('../images/Aurora-Ocean2.jpg');
    background-repeat: space;
    background-size: cover;
    width: 100%;
    height: 120%;
    position: absolute;
   

    
}
body {
    height: 100%;

}
html {
    height: 100%;
}

.topcontainer {
    height: 100%;
    padding-right: 0px;
    padding-left: 0px;
    position: relative;
}   
.lyrics{
    perspective: 7000px;
    perspective-origin: 50% 50%;
    top: 50%;  
    left: 15%;
     position: absolute;
     width: 20%;
    
}    


.lyricscontainer {
  
 
  font-style: italic, oblique;
  color: black;
  border-width: 10px;
  font-size: 1.5em;
  transform: rotateY(50deg);
  transform-origin: left;
  max-height: 94.5%;
  
}

.sing, .lyr {
   
    position: relative;
    text-align: right;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.single {
    perspective: 5000px;
    top: 40%;  
    left: 55%;
    position: absolute;
    width: 30%;
}
.singlecontainer {
  position: absolute;
  font-style: oblique;
  color: white;
  border-width: 10px;
  font-size: 3.5em;
  
}

.mynavbar {
    background-color: #222;
    border: none;
    
}

.noshow {
    display: none;
}

.s0 {
   position: relative; 
}

.starget {
   position: absolute;  
}